.App {
  text-align: center;
  /* background: radial-gradient(circle, #9d1bd4, #8118c9, #6316be, #4114b2, #0712a6); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*::-webkit-scrollbar {
  display: block;
  width: 12px;
  height: 10px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #6416be57;
  /* border: 1px solid white; */
  border-radius: 24px;
}

.weatherImg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.weatherBG {
  /* position: absolute;
  top: 45px;
  left: 45px; */
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.weatherIcon {
  width: 42px;
}

.dailyForecastTab, .hourlyForecastTab {
  display: flex;
  justify-content: center;
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 37vw;
  height: 20vh;
  background: #7e63c5db;
  backdrop-filter: blur(10px);
  border-radius: 32px;
  box-shadow: 4px 4px 4px #fff, -4px -4px 20px #fff, inset -4px -4px 20px #fff, inset 4px 4px 20px #fff;
  opacity: 0.9;
  /* box-shadow: 0px 0px 18px 6px #fdfdfdad;
  border: 2px solid #ffffff75; */
}

.dailyForecastTab span, .hourlyForecastTab span {
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
  border: 1px solid #e6dede;
  border-radius: 56px;
  padding: 8px;
  background: #381e5fb0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.hourlyForecastDiv {
  width: 35vw;
  max-width: 35vw;
  overflow-x: auto;
  display: flex;
  padding: 8px;
}

.hourlyForecastDiv span {
  margin-left: 4px;
  margin-right: 4px;
}

.hourlyForecastDiv span:first-child {
  background: #ceadff;
}


.todayContainer {
  display: flex;
  justify-content: center;
}

.todayDataDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff4f;
  margin-top: 5vh;
  border-radius: 24px;
}


.wrapper {
  /* padding-left: 10vw;
  padding-top: 10vh; */
  width: 40vw;
  height: 90vh;
  /* height: calc(90vh - 64px); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* background-color: #dde1e7; */
  /* background: radial-gradient(circle, #9d1bd4, #8118c9, #6316be, #4114b2, #0712a6); */
  position: relative;
  background-color: #160e2a6b;
  border-radius: 32px;
  box-shadow: 0px 0px 18px 6px #fdfdfdad;
}

/* .circle {
	position: relative;
	display: flex;
	width: 350px;
	height: 350px;
	align-items: center;
	justify-content: center;
}

.circle:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 350px;
	height: 350px;
	content: " ";
	border-radius: 350px;
	filter: blur(7px);
  box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff,
		inset -8px -8px 20px #fff, inset 8px 8px 20px #a9a8b7;
} */

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 220px;
  background: #d6e3f6;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
  position: relative;
}
.circle:after {
  content: '';
  position: absolute;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}

.currentDataBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  margin-top: 10vh;
  color: white;
}

.circleBox {
  margin-left: 5vw;
}

.tempDescrBox {
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
}

.tempDescrBox h1 {
  font-size: 54px;
  margin: 0;
  margin-bottom: -20px;
}

.tempDescrBox h2 {
  margin: 0;
}

.currentTempH1 {
  font-size: 86px !important;
  margin: 0;
}

.descriptionP {
  margin: 0;
  color: #ffffff85;
  margin-top: 12px;
  margin-bottom: 6px;
}

.whiteColor {
  color: white;
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: center;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: #827d7d !important;
}

.tabsBox {
  height: 35vh;
  margin-top: -36px;
}