.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*::-webkit-scrollbar {
  display: block;
  width: 12px;
  height: 10px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #6416be57;
  border-radius: 24px;
}

/****** Current Weather ******/

.wrapper {
  width: 40vw;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #160e2a6b;
  border-radius: 32px;
  box-shadow: 0px 0px 18px 6px #fdfdfdad;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 220px;
  background: #d6e3f6;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
  position: relative;
}

.circle:after {
  content: '';
  position: absolute;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}

.currentDataBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  margin-top: 5vh;
  color: white;
}

.circleBox {
  margin-left: 5vw;
}

.tempDescrBox {
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5vw;
}

.tempDescrBox h1 {
  font-size: 54px;
  margin: 0;
  margin-bottom: -20px;
}

.tempDescrBox h2 {
  margin: 0;
}

.currentTempH1 {
  font-size: 86px !important;
  margin: 0;
}

.descriptionP {
  margin: 0;
  color: #ffffff85;
  margin-top: 12px;
  margin-bottom: 6px;
}

.whiteColor {
  color: white;
}

.todayContainer {
  display: flex;
  justify-content: center;
}

.todayDataDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff4f;
  margin-top: 5vh;
  border-radius: 24px;
}

.sunDiv {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 12px;
}

.sunDiv h3 {
  margin: 0;
  margin-top: -6px;
}

.sunImg {
  width: 45px;
}

.temp-btn {
  position: absolute;
  right: 12px;
  top: 8px;
}

/****** Close Current Weather ******/


/****** Weather Img ******/

.weatherImg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.weatherBG {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.weatherIcon {
  width: 42px;
}

/****** Close Weather Img ******/


/****** Forecast Tabs ******/

.dailyForecastTab, .hourlyForecastTab, .weeklyForecastTab {
  display: flex;
  justify-content: center;
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 37vw;
  height: 20vh;
  background: #7e63c5db;
  backdrop-filter: blur(10px);
  border-radius: 32px;
  box-shadow: 4px 4px 4px #fff, -4px -4px 20px #fff, inset -4px -4px 20px #fff, inset 4px 4px 20px #fff;
  opacity: 0.9;
}

.dailyForecastTab span, .hourlyForecastTab span, .weeklyForecastTab span {
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
  border: 1px solid #e6dede;
  border-radius: 56px;
  padding: 8px;
  background: #381e5fb0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.weeklyForecastTab p {
  margin: 0;
}

.weeklyForecastTab span {
  margin-left: 8px !important;
  margin-right: 8px !important;
  padding: 10px !important;
}

/****** Close Forecast Tabs ******/


/****** Hourly Forecast ******/

.hourlyForecastDiv {
  width: 35vw;
  max-width: 35vw;
  overflow-x: auto;
  display: flex;
  padding: 8px;
}

.hourlyForecastDiv span {
  margin-left: 4px;
  margin-right: 4px;
}

.hourlyForecastDiv span:first-child {
  background: #ceadff;
}

.nowSpan {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

/****** Close Hourly Forecast ******/


/****** Current Tabs ******/

.css-heg063-MuiTabs-flexContainer {
  justify-content: center;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: #827d7d !important;
}

.tabsBox {
  height: 35vh;
  margin-top: 0;
}

/****** Close Current Tabs ******/


/****** MoreForecastTab ******/

.moreForecastTab {
  display: flex;
  justify-content: center;
  padding: 24px;
  height: 85vh !important;
  flex-wrap: wrap;
  opacity: 1;
}

.moreForecastTab button {
  position: absolute;
  bottom: 12px;
  padding: 4px;
  border-radius: 14px;
  width: fit-content;
  height: fit-content;
}

.moreForecastTab span {
  width: 100px;
  height: fit-content;
  padding: 6px;
  border: 1px solid white;
  border-radius: 24px;
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moreForecastTab p {
  margin: 0;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: none !important;
  max-height: none !important;
  width: 40vw;
  height: fit-content;
  background: #7e63c5db !important;
  backdrop-filter: blur(10px);
  border-radius: 32px !important;
  box-shadow: 4px 4px 4px #fff, -4px -4px 20px #fff, inset -4px -4px 20px #fff, inset 4px 4px 20px #fff !important;
}

/****** Close MoreForecastTab ******/