.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: context-menu;
}

.logoH1 {
  position: absolute;
  bottom: 12px;
  left: 24px;
  text-shadow: 0px 0px 0px #b393d3, 0px 0px 0px #b393d3, 0px 0px 10px #b393d3, 0px 0px 6px #b393d3;
  color: transparent;
  background-clip: text;
  font-size: 46px;
  font-weight: 800;
  margin: 0;
}

*::-webkit-scrollbar {
  display: block;
  width: 12px;
  height: 10px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #6416be57;
  border-radius: 24px;
}

.MuiCircularProgress-indeterminate {
  width: 100px !important;
  height: 100px !important;
  color: #7f0101 !important;
}