.cityNavDiv {
    position: absolute;
    left: 10vw;
    top: 15vh;
    height: 60vh;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 180px;
    padding-left: 20px;
}

.multiNav {
    position: absolute;
    left: 10vw;
    top: 15vh;
    height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cityNavDivMulti {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 180px;
    padding-left: 20px;
    padding-top: 40px;
}
  
.currentNavDiv {
    display: flex;
}

.addIconDiv {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.removeAnimation {
    animation: shaking 0.35s infinite;
}

@keyframes shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(8deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-8deg); }
    100% { transform: rotate(0deg); }
}