.historyHeader {
    position: absolute;
    top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    left: 5%;
}

.historyChart {
    background-color: #ffffff38;
    border-radius: 32px;
    box-shadow: 0px 0px 18px 6px #fdfdfdad;
}

.backBtn {
    height: fit-content;
    width: fit-content;
}

.datepickerBoxH1 {
    margin: 0;
    color: white;
    font-weight: 800;
    font-size: 38px;
    cursor: context-menu;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 16px;
}

.datepickerDiv {
    height: 35vh;
    width: 32vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.datepickerFields {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    max-width: 470px;
}

.datepickerFields >span {
    color: white;
    font-size: 36px;
}

.historyHeaderH2 {
    color: white;
    font-weight: 800;
    position: relative;
}