.imprintBox {
    width: 30vw;
    max-width: 620px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #160e2a6b;
    border-radius: 32px;
    box-shadow: 0px 0px 18px 6px #fdfdfdad;
    color: white;
}

h1, p {
    margin: 0;
    margin-bottom: 8px;
}