body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Baloo";
  src: local("Baloo"), url("./fonts/baloo-2-v16-latin-600.ttf") format("truetype");
  font-weight: bold;
}